<form class="form-inline my-2 my-lg-0">
  <ul *ngIf='isUserAuthenticated' class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <button class="btn btn-link" style="color: #ffffff80;" (click)="logout()">Logout</button>
    </li>
  </ul>
  <ul *ngIf='!isUserAuthenticated' class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <a class="nav-link"[routerLink]="['/login']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"[routerLink]="['/registracija']" routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: true}">Register</a>
    </li>
  </ul>
  <ul *ngIf="isUserAuthenticated" class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item">
      <button class="btn btn-link" style="color: #d50000;" (click)="logout()">Logout</button>
    </li>
  </ul>
</form>

<router-outlet></router-outlet>

