<div>
<form [formGroup]="profileForm" autocomplete="off">
  <mat-dialog-content class="example-container">
    <mat-form-field hideRequiredMarker="true" class="example-full-width" appearance="fill">
      <mat-label>Unesite opis</mat-label>
      <input formControlName="opis" matInput [(ngModel)]="data.opis">
      <mat-hint style="color: red" *ngIf="profileForm.get('opis').touched && profileForm.get('opis').errors?.['required']">Ovo polje je obavezno</mat-hint>
      <mat-hint style="color: red" *ngIf="profileForm.get('opis').errors?.['minlength']">Ovo polje mora imati minimalno 3 karaktera</mat-hint>
    </mat-form-field>
    <mat-form-field hideRequiredMarker="true" appearance="fill">
      <mat-label>Odaberite prodavnicu</mat-label>
      <mat-select formControlName="prodavnica" hideRequiredMarker="true" [(ngModel)]="data.prodavnicaId">
        <mat-option *ngFor="let prodavnice of prodavnica" [value]="prodavnice.id">
          {{prodavnice.naziv}}
        </mat-option>
      </mat-select>
      <mat-hint style="color: red" *ngIf="profileForm.get('prodavnica').touched && profileForm.get('prodavnica').errors?.['required']">Ovo polje je obavezno</mat-hint>
    </mat-form-field>
    <button type="button" mat-raised-button (click)="fileInput.click()">Upload slika</button>
    <input hidden (change)="onSelectedNewFile($event)" accept="image/*" #fileInput type="file" id="file"><br>
  </mat-dialog-content>
  <mat-dialog-actions class="buttons">
    <button mat-raised-button mat-dialog-close="">Close</button>
    <button mat-raised-button style="background-color: #3d3d3d;color: white" (click)="Save()">Save</button>
  </mat-dialog-actions>
</form>
</div>
