<div>
  <h3 mat-dialog-title>ZAPOSLENIK</h3>
  <form [formGroup]="profileForm" autocomplete="off">
    <mat-dialog-content class="example-container">
      <mat-form-field hideRequiredMarker="true" appearance="fill">
        <mat-label>Korisnik</mat-label>
        <mat-select formControlName="korisnik" hideRequiredMarker="true" [(ngModel)]="data.korisnikId">
          <mat-option *ngFor="let korisnik of korisnici" [value]="korisnik.id">
            {{korisnik.ime}} {{korisnik.prezime}}
          </mat-option>
        </mat-select>
        <mat-hint style="color: red" *ngIf="profileForm.get('korisnik').touched && profileForm.get('korisnik').errors?.['required']">Ovo polje je obavezno</mat-hint>
      </mat-form-field>
      <mat-form-field hideRequiredMarker="true" appearance="fill" class="example-form-field">
        <mat-label>Datum aktivnosti</mat-label>
        <input hideRequiredMarker="true" formControlName="datumAktivnosti" matInput [matDatepicker]="datepicker" [(ngModel)]="data.datumAktivnosti">
        <mat-hint style="color: red" *ngIf="profileForm.get('datumAktivnosti').touched && profileForm.get('datumAktivnosti').errors?.['required']">Ovo polje je obavezno</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <mat-form-field hideRequiredMarker="true" class="example-full-width" appearance="fill">
        <mat-label>Aktivnost</mat-label>
        <input formControlName="aktivan" matInput [(ngModel)]="data.aktivan">
        <mat-hint style="color: red" *ngIf="profileForm.get('aktivan').touched && profileForm.get('aktivan').errors?.['required']">Ovo polje je obavezno</mat-hint>
        <mat-hint style="color: red" *ngIf="profileForm.get('aktivan').errors?.['digits']">Ovo polje mora imati samo brojeve</mat-hint>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="buttons">
      <button mat-raised-button mat-dialog-close="">Close</button>
      <button mat-raised-button style="background-color: #3d3d3d;color: white" (click)="Save()">Save</button>
    </mat-dialog-actions>
  </form>
</div>

