<div>
  <h3 mat-dialog-title>DOBAVLJAC</h3>
  <form [formGroup]="profileForm" autocomplete="off">
    <mat-dialog-content class="example-container">
      <mat-form-field hideRequiredMarker="true" class="example-full-width" appearance="fill">
        <mat-label>Naziv dobavljaca</mat-label>
        <input formControlName="nazivDobavljaca" matInput [(ngModel)]="data.nazivDobavljaca">
        <mat-hint style="color: red" *ngIf="profileForm.get('nazivDobavljaca').touched && profileForm.get('nazivDobavljaca').errors?.['required']">Ovo polje je obavezno</mat-hint>
        <mat-hint style="color: red" *ngIf="profileForm.get('nazivDobavljaca').errors?.['minlength']">Ovo polje mora imati minimalno 3 karaktera</mat-hint>
      </mat-form-field>
      <mat-form-field hideRequiredMarker="true" class="example-full-width" appearance="fill">
        <mat-label>Telefon</mat-label>
        <input formControlName="brojDobavljaca" matInput [(ngModel)]="data.brojDobavljaca">
        <mat-hint style="color: red" *ngIf="profileForm.get('brojDobavljaca').touched && profileForm.get('brojDobavljaca').errors?.['required']">Ovo polje je obavezno</mat-hint>
        <mat-hint style="color: red" *ngIf="profileForm.get('brojDobavljaca').errors?.['digits']">Ovo polje mora imati samo brojeve</mat-hint>
      </mat-form-field>
      <mat-form-field hideRequiredMarker="true" appearance="fill">
        <mat-label>Odaberite drzavu</mat-label>
        <mat-select formControlName="drzava" hideRequiredMarker="true" [(ngModel)]="data.drzavaId">
          <mat-option *ngFor="let drzava of drzave" [value]="drzava.id">
            {{drzava.nazivDrzave}}
          </mat-option>
        </mat-select>
        <mat-hint style="color: red" *ngIf="profileForm.get('drzava').touched && profileForm.get('drzava').errors?.['required']">Ovo polje je obavezno</mat-hint>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions class="buttons">
      <button mat-raised-button mat-dialog-close="">Close</button>
      <button mat-raised-button style="background-color: #3d3d3d;color: white" (click)="Save()">Save</button>
    </mat-dialog-actions>
  </form>
</div>



